.clients {
  background-color: #fff;
  padding: 20px 10px 30px;

  @media (max-width: $breakpoint-xs-max) {
    padding: 30px 10px 20px;
  }

  h1 {
    background: url('../images/clients-header.png') no-repeat center 16px;
    width: 376px;
    margin: 10px auto 0;
    text-align: center;
    font-size: 5rem;

    @media (max-width: $breakpoint-xs-max) {
      width: 310px;
      height: 45px;
      background-size: 100%;
      background-position: center center;
      font-size: 3.5rem;
    }
  }

  .image-wrapper {
    width: 90%;
    max-width: 781px;
    margin: 40px auto 0;

    img {
      display: block;
      width: 100%;
    }
  }
}
