.contact {
  padding: 95px 0;
  background-color: #cccccc;

  @media (max-width: $breakpoint-xs-max) {
    padding: 35px 0;
  }

  .btn-contact {
    background: url('../images/contact-us.png') no-repeat;
    background-size: cover;
    width: 902px;
    height: 124px;
    display: block;
    margin: auto;

    @media (min-width: $breakpoint-xs-max) and  (max-width: $breakpoint-md-max) {
      width: 650px;
      height: 89px;
    }

    @media (max-width: $breakpoint-xs-max) {
      width: 300px;
      height: 41px;
    }

    &:focus,
    &:hover {
      background-image: url('../images/contact-us-hover.png');
    }
  }
}
