.omnichannel {
  background-color: #f3f3f3;
  padding: 50px 10px;

  @media (max-width: $breakpoint-xs-max) {
    padding: 30px 10px;
  }

  h1 {
    background: url('../images/omnichannel-header.png') no-repeat center 13px;
    width: 415px;
    margin: 10px auto 0;
    text-align: center;
    font-size: 5rem;

    @media (max-width: $breakpoint-xs-max) {
      width: 310px;
      height: 45px;
      background-size: 100%;
      background-position: center center;
      font-size: 3.5rem;
    }
  }

  .circle {
    width: 1024px;
    margin: auto;

    @media (max-width: 1024px) {
      width: 100%;
      max-width: 1024px;
    }

    area {
      outline: none;
      cursor: default;
    }

    img {
      width: 100%;
      display: block;
    }
  }
}
