.warranty {
  background-color: #fff;
  padding: 50px 10px 0;

  @media (max-width: $breakpoint-xs-max) {
    padding: 30px 10px 0;
  }

  h1 {
    background: url('../images/guarranty-header.png') no-repeat center 16px;
    width: 239px;
    margin: 10px auto 0;
    text-align: center;
    font-size: 5rem;

    @media (max-width: $breakpoint-xs-max) {
      width: 239px;
      height: 40px;
      background-size: 100%;
      background-position: center center;
      font-size: 3.5rem;
    }
  }

  .column {
    text-align: center;
    margin: 50px 0;

    @media (max-width: $breakpoint-md-max) {
      margin: 20px 0;
    }

    .image-wrapper {
      height: 100px;
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      .image-wrapper {
        padding-top: 20px;
      }
    }

    h3 {
      font-size: 2.4rem;
      width: 60%;
      margin: 20px auto 0;
    }

    p {
      font-size: 1.8rem;
      line-height: 2.8rem;
      width: 60%;
      margin: 20px auto 0;

      @media (max-width: $breakpoint-sm-max) {
        width: 90%;
      }
    }
  }
}
